In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('5c9f1a05-1dc7-4e83-8dc2-3e5071796c07.FPKM.txt', sep="\t", header=)

In [10]:
data = data.T

In [11]:
data

,0,1,2,3,4,5,6,7,8,9,...,60473,60474,60475,60476,60477,60478,60479,60480,60481,60482
0,ENSG00000242268.2,ENSG00000270112.3,ENSG00000167578.15,ENSG00000273842.1,ENSG00000078237.5,ENSG00000146083.10,ENSG00000225275.4,ENSG00000158486.12,ENSG00000198242.12,ENSG00000259883.1,...,ENSG00000238244.3,ENSG00000186115.11,ENSG00000216352.1,ENSG00000267117.1,ENSG00000273233.1,ENSG00000105063.17,ENSG00000231119.2,ENSG00000280861.1,ENSG00000123685.7,ENSG00000181518.3
1,0.0334161,0.00231829,2.0429,0,5.21912,7.10924,0,0.0103085,145.209,0.230792,...,0,0.00755106,0,0.0268996,0,10.6121,0.0459032,0,1.74464,0

In [12]:
data.columns = data.iloc[0]
data = data[1:]

In [13]:
data

,ENSG00000242268.2,ENSG00000270112.3,ENSG00000167578.15,ENSG00000273842.1,ENSG00000078237.5,ENSG00000146083.10,ENSG00000225275.4,ENSG00000158486.12,ENSG00000198242.12,ENSG00000259883.1,...,ENSG00000238244.3,ENSG00000186115.11,ENSG00000216352.1,ENSG00000267117.1,ENSG00000273233.1,ENSG00000105063.17,ENSG00000231119.2,ENSG00000280861.1,ENSG00000123685.7,ENSG00000181518.3
1,0.0334161,0.00231829,2.0429,0,5.21912,7.10924,0,0.0103085,145.209,0.230792,...,0,0.00755106,0,0.0268996,0,10.6121,0.0459032,0,1.74464,0